<h1>List of articles:</h1>


<% @articles.each do |article| %>

<h2><%= article.title %></h2>
<p>Article number: <%= article.id %></p>
<p><%= article.text %></p>
<p><%= article.created_at %></p>

<p>
<div class="btn-group">
	<%= link_to '<button type="button" class="btn btn-success">Show</button>'.html_safe, article_path(article) %> 
	<%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_article_path(article) %> 
	<%= link_to '<button type="button" class="btn btn-danger">Delete</button>'.html_safe, article_path(article), method: :delete, data: {confirm: "Are you sure?"} %> 
</div>
</p>


<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-success">Show</button>
  <button type="button" class="btn btn-warning">Edit</button>
  <button type="button" class="btn btn-danger">Delete</button>
</div>
<hr />
<% end %>